@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 100;
  src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(hope9NW9iJ5hh8P5PM_EA34UHu-c0cTZKOwO_f6u1Os.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(u0_CMoUf3y3-4Ss4ci-VwbfB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(0xES5Sl_v6oyT7dAKuoni50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(u0_CMoUf3y3-4Ss4ci-VwfMi34-dsJKaItLa5TRL9eU.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(u0_CMoUf3y3-4Ss4ci-VwZ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 900;
  src: local('RobotoDraft Black'), local('RobotoDraft-Black'), url(u0_CMoUf3y3-4Ss4ci-VwRG4wFYO9UG-PxKqsSvMNyg.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(er-TIW55l9KWsTS1x9bTfuLrC4Du4e_yfTJ8Ol60xk0.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 700;
  src: local('RobotoDraft Bold Italic'), local('RobotoDraft-BoldItalic'), url(5SAvdU0uYYlH8OURAykt52sGzsqhEorxQDpu60nfWEc.ttf) format('truetype');
}
